<header class="container">
    <h1>EAT-DURR-BURGER!</h1>
</header>

<section class="container">
    <h2>EAT IT?</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}}</li>
        {{/unless}}
        {{/each}}

    </ul>
</section>


<section class="container">
    <h2>
        FINISHED!
    </h2>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>
</section>
<section class = "container my-5">
    <h5>Enter burger you want to devour!</h5>
    <form action="api/burgers" method="POST">
        <div class="input-group mb-3">
            <input name="burger_name" class="form-control" placeholder="Burger Choice" aria-label="Insert burger name">
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="submit">Button</button>
            </div>
        </div>
    </form>
</section>