<div class="row">
    <div class="col">
        <header class="container">
            <h1>EAT-DURR-BURGER!</h1>
        </header>

    </div>
</div>
<div class="row">
    <div class="col">

        <section class="container">
            <h2>EAT IT?</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="mt-2">{{burger_name}}<button data-id="{{id}}"
                        class="devoured btn btn-warning btn-sm ml-4 mt-1">DEVOUR IT!</button></li>
                {{/unless}}
                {{/each}}

            </ul>
        </section>
    </div>
    <div class="col">




        <section class="container">
            <h2>
                FINISHED!
            </h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </div>
</div>
    <div class="row">
        <div class="col">


        <section class="container my-5">
            <h5>Enter burger you want to devour!</h5>
            <form action="api/burgers" method="POST">
                <div class="input-group mb-3">
                    <input name="burger_name" class="form-control" placeholder="Burger Choice"
                        aria-label="Insert Burger name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="submit">Button</button>
                    </div>
                </div>
            </form>
        </section>
        </div>
    </div>
<script>
    $(() => {
        $(".devoured").on("click", function () {
            const id = $(this).attr("data-id");
            $.ajax({
                url: `/api/burgers/${id}`,
                method: "patch",
                data: { devoured: true }
            }).then(() => {
                location.reload();
            })
        })
    });
</script>